@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<nav class="navbar">
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link btn-style" asp-area="Identity" asp-controller="Account" asp-action="Index">Account overview</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="nav-link btn-style">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-controller="Account" asp-action="Login" method="post">
                    <button type="submit" class="nav-link btn-style">Login</button>
                </form>
            </li>
        }
    </ul>
</nav>