@{
    ViewData["Title"] = "Logged Out";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">You have been logged out</h5>
                    <p class="card-text">Thank you for using ConcertApp. We hope to see you again soon!</p>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>