@{
    ViewData["Title"] = "Logged In";
}

@model ConcertApp.Ui.Models.LoginViewModel


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome @Model.Username!</h5>
                    <p class="card-text">We wish you a pleasant visit!</p>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>