@model ConcertApp.Ui.Models.ConfirmationViewModel

    @{
    ViewData["Title"] = "Confirmation";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Confirmation</h5>
                    <p class="card-text">@Model.Message</p>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>